<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Copyright -->
  <div class="text-center p-3" >
    © 2023 Copyright:
    <a class="text-white" href="https://jtweedle.com/">jtweedle.com</a>
  </div>
  <!-- Copyright -->
</footer>