<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}} by {{user.username}}</h5>
    <p class="card-text">
      {{{cut content}}} ...
    </p>
    <div class="post-button-div" class="row">
        <div class="col align-self-center"><a href="/posts/{{id}}" class="btn btn-primary">Read More</a></div>
    </div>
  </div>
</div>