<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{title}} by {{user.username}}</h5>
    <p class="card-text">{{content}}</p>
    <div class="post-button-div">
        <a href="/posts/{{id}}" class="btn btn-primary">Read Post</a>
    </div>
  </div>
</div>