@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    height: 100%;
    position: relative;
}

body {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    overflow-x: hidden;
}

img {
    max-width: 1500px;
}

.blog-title {
    font-size: 50px;
}

.blog-icon {
    font-size: 40px;
}

.card {
    margin: 35px;
}

.center-text {
    text-align: center;
}

#form-div {
    padding: 10px;
}

.row {
    width: 100%;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#post-column {
    min-width: 500px
}

#div, #divv {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#divv{ 
    
}

.post-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.post-button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-100 {
    flex-basis: 100%;
}

main {
    min-height: 100%;
    display: flex;
    flex: column;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    margin-bottom: 50px;
}

#content-input {
    height: 150px;
}

footer {
    position: absolute;
    width: 100%;
}

.animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  line-height: 1px;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: block;
      font-size: 8vw;
      
    text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}