
<h1 class="animate-character flex-100">Dashboard</h1>

<div class="container">
<div class="row">
    <div class="col-md-6 flex-center">
        <div id="div">
            <h2 class="center-text">NEW POST</h2>
            <div id="form-div">
                <form {{!--action="/dashboard" method="POST"--}}>
                    <div class="form-group">
                        <label>Title</label>
                        <input 
                            type="text" 
                            name="blog-title"
                            id="blog-title-input" 
                            placeholder="Blog Title"
                            class="form-control"
                            >
                    </div>
                    <br>
                    <div class="form-group"> 
                        <label>Content</label>
                        <textarea 
                            type="text" 
                            name="content" 
                            id="content-input"
                            class="form-control"
                            placeholder="Share your thoughts"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Upload Blog Image</label><br><br>
                        <input type="file" style="color:transparent; width:140px;" id="post-image"/>
                    </div>
                        <br>
                    <button type="submit" id="create-post-button" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>
</div>


    <div id="event-div" class="col-md-6 " id="post-column">
        {{#each posts}}
        {{> userpost}}
        {{/each}}
    </div>

</div>

</div>

<script src="/js/dashboard.js"></script>