
<h1 class="animate-character flex-100">Dashboard</h1>

<div class="row">
    <div class="col flex-center">
        <div id="div">
            <h2 class="center-text">QUICK WRITE NEW BLOG POST</h2>
            <div id="form-div">
                <form {{!--action="/dashboard" method="POST"--}}>
                    <div class="form-group">
                        <label>Title</label>
                        <input 
                            type="text" 
                            name="blog-title"
                            id="blog-title-input" 
                            placeholder="Blog Title"
                            class="form-control"
                            >
                    </div>
                    <br>
                    <div class="form-group"> 
                        <label>Content</label>
                        <textarea 
                            type="text" 
                            name="content" 
                            id="content-input"
                            class="form-control"
                            placeholder="Share your thoughts"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Upload Blog Image</label><br><br>
                        <input type="file" style="color:transparent; width:140px;" id="post-image"/>
                    </div>
                        <br>
                    <button type="submit" id="create-post-button" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <div id="event-div" class="col-6" id="post-column">
        {{#each posts}}
        {{> userpost}}
        {{/each}}
    </div>

    <div class="col">
        <div id="divv">
        <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/005/878/293/non_2x/content-manager-modern-flat-concept-for-web-banner-design-woman-works-on-laptop-publishes-according-to-plan-video-audio-and-images-in-social-networks-illustration-with-isolated-people-scene-free-vector.jpg">
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>