<div id="post-id">{{post.id}}</div>

<div class="card flex-center">
  <div class="card-body">
    <p>Edit Title:</p><input class="form-control edit-input" value="{{post.title}}" id="edit-title"><br>
    <p>Edit Content:</p><input class="form-control edit-input" value="{{post.content}}" id="edit-content"><br>
    <div class="post-button-div" class="row">
        <div class="col align-self-center"><a href="/posts/{{id}}"><button class="btn btn-primary" type="submit" id="update-post-button">Update</button></a></div>
    </div>
  </div>
</div>

<script src="/js/update-post.js"></script>