<section>
    <article>
        <h3>Post 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione velit nostrum odio debitis quia reprehenderit, earum in facilis molestias explicabo omnis exercitationem tempora animi ducimus magnam fugiat hic vitae.</p>
    </article>
    <article>
        <h3>Post 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione velit nostrum odio debitis quia reprehenderit, earum in facilis molestias explicabo omnis exercitationem tempora animi ducimus magnam fugiat hic vitae.</p>
    </article>
    <article>
        <h3>Post 3</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ratione velit nostrum odio debitis quia reprehenderit, earum in facilis molestias explicabo omnis exercitationem tempora animi ducimus magnam fugiat hic vitae.</p>
    </article>
</section>