<h1 class="animate-character flex-100">Login</h1>

<div class="flex-center flex-100">
    <div>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required><br>
            <button>Submit</button>
        </form>
    </div>
    <a href="/register">Create account.</a>
</div>

<div>
    <img src="https://img.freepik.com/free-vector/e-learning-online-classes-webinars-remote-it-studying_335657-3120.jpg?w=1380&t=st=1674263654~exp=1674264254~hmac=21ee8df5f8b97a8915a72c7768b727dee44ffcc17a131c93503ad5529776b826">
</div>