<h1 class="animate-character flex-100">Login</h1>

<div class="flex-center flex-100">
    <div>
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required><br>
            <button>Submit</button>
        </form>
    </div>
    <a href="/register">Create account.</a>
</div>

<div>
    <img src="https://static.vecteezy.com/system/resources/previews/003/326/394/large_2x/work-from-home-concept-for-website-and-mobile-site-free-vector.jpg">
</div>