<h1 class="animate-character flex-100">Login</h1>

<div class="flex-center flex-100">
    <div>
        <form action="/login" method="POST">
            <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username-login" name="username" class="form-control"><br>
            <label for="password">Password</label>
            <input type="text" id="password-login" name="password" class="form-control"><br>
            <button type="submit" id= "login-button" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
    <br>
    <a href="/register">Create an account!</a>
</div>

<div>
    <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/003/326/394/large_2x/work-from-home-concept-for-website-and-mobile-site-free-vector.jpg">
</div>

<script src="/js/login.js"></script>