<div class="flex-center">
    <h1>Register Page</h1>
    <div>
        <form action="/register" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required><br>
            <button>Submit</button>
        </form>
    </div>
</div>