<h1 class="animate-character flex-100">Register</h1>

<div class="flex-center">
    <div>
        <form action="/register" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" required><br>
            <button>Submit</button>
        </form>
    </div>


<div>
    <img src="https://static.vecteezy.com/system/resources/previews/003/326/377/large_2x/support-center-concept-for-website-and-mobile-site-free-vector.jpg">
</div>

</div>