<h1 class="animate-character flex-100">Register</h1>

<div class="flex-center flex-100">
    <div>
        <form action="/register" method="post">
            <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username-register" name="username" class="form-control"><br>
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="text" id="password-register" name="password" class="form-control">
            <small id="password-help" class="form-text text-muted">Password must be a minimum of 8 characters.</small>
            </div>
            <br>
            <button class="btn btn-primary" id="submit-button">Sign up</button>
        </form>
    </div>
</div>

<div>
    <img class="img-fluid" src="https://static.vecteezy.com/system/resources/previews/003/326/377/large_2x/support-center-concept-for-website-and-mobile-site-free-vector.jpg">
</div>

<script src="/js/register.js"></script>